<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <link
    href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    rel="stylesheet"
  />
  <script type="text/javascript">
    var midkey= 
  </script>
  <script type="application/javascript" src="https://securegw-stage.paytm.in/merchantpgpui/checkoutjs/merchants/<%= midKey%>.js" onload="onScriptLoad();" crossorigin="anonymous"></script>
<script>
function onScriptLoad(){
var config = {
"root": "",
"flow": "DEFAULT",
"data": {
"orderId": "<%= ordernew._id %>", /* update order id */
"token": "<%= tokenOftnx %>", /* update token value */
"tokenType": "TXN_TOKEN",
"amount": "<%= totalAmount %>" /* update amount */
},
"handler": {
"notifyMerchant": function(eventName,data){
console.log("notifyMerchant handler function called");
console.log("eventName => ",eventName);
console.log("data => ",data);
}
}
};
if(window.Paytm && window.Paytm.CheckoutJS){
window.Paytm.CheckoutJS.onLoad(function excecuteAfterCompleteLoad() {
window.Paytm.CheckoutJS.init(config).then(function onSuccess() {
window.Paytm.CheckoutJS.invoke();
}).catch(function onError(error){
console.log("error => ",error);
});
});
}
}
</script>
  <!-- <body>
    <center>
        <h1 style="margin-top: 80px;">Please do not refresh this page .....</h1>
    </center>
    <form action="<%= paymentPageurlKey%>mid=<%=midKey%>&orderId=<%= ordernew._id %>" method="post" name="paytm">
<table>
    <tbody>
        <input type="hidden" name="mid" value="<%= midKey %>">
        <input type="hidden" name="newOrder" value="<%= ordernew %>">
        <input type="hidden" name="txnToken" value="<%= tokenOftnx %>">
    </tbody>
</table>
<script type="text/javascript"> document.paytm.submit(); </script>
    </form>
</body> -->
</html>